* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}