img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 20px;
    transition: all .4s ease;
}

article .img-container {
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 20px;
}

article {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

article:hover img {
    transform: scale(1.1);
}

article h2 {
    color: #528da8;
    overflow: hidden;
    margin-bottom: 8px;
}

.button-recipe {
    transition: all 0.5s ease;
    color: #87527f;
    border: 1px solid #636161;
    line-height: 1;
    font-size: 17px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    margin-top: 14px;
    border-radius: 8px;
    width: 240px;
}